# Linear Regression - Mini-Project 1

***Edit this cell with your name(s), tutorial number(s) and ID(s)***

---

Name: Hanan Beshrah

ID: 46-309

Tutorial: T02

---

Name: Farah Hussien

ID: 46-7731

Tutorial: T02

---

## Dataset Description

The dataset contains historical car auction sales prices, scraped from the outside internet sources and collected in 2015.

Each row represents a sale at a used car auction. Each column is described below.

| Column       | Description                                                                                          |
| ------------ | ---------------------------------------------------------------------------------------------------- |
| year         | Car's year of production                                                                             |
| make         | Car make/brand                                                                                       |
| model        | Car model                                                                                            |
| trim         | Car's trim or grade, which specifies a car model's level of performance, features, options or extras |
| body         | Car body type (e.g. Sedan, SUV, Coupe, etc.)                                                         |
| transmission | Car transmission type. The mechanism that moves the power from the engine to the wheels.             |
| vin          | Vehicle Identification Number, a unique code to identify individual motor vehicles.                  |
| state        | The state in which the car was auctioned.                                                            |
| condition    | The condition of the cars being at the time of auction, 5 being the best score and 1 being the worst.|
| odometer     | The distance traveled by a vehicle since being manufactured, in miles                                |
| color        | Exterior color of the car                                                                            |
| interior     | Interior color of the car                                                                            |
| seller       | The seller of the car or car dealer                                                                  |
| mmr          | Manheim\* Market Report, the market estimated price of the cars. An indicator of wholesale prices.   |
| sellingprice | The price a car was sold at in auction.                                                              |
| saledate     | The date on which the car has been sold.                                                             |

\*Manheim is a company established in 1945 as a car auction company. It has grown to a very reputable company and its MMR is a baseline tool for wholesale car price determination. They base their price calculations on over 10 million transaction over the past 13-month period to.

## Importing Libraries \& Dataset

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
plt.style.use("seaborn")

try:
    df = pd.read_csv('car_prices.csv')
except:
    df = pd.read_csv('https://raw.githubusercontent.com/GUC-DM/W2021/main/data/car_prices.csv')

df.head(200)

     year           make  ... sellingprice                                 saledate
0    2013        Hyundai  ...       $10900  Tue Jun 02 2015 02:30:00 GMT-0700 (PDT)
1    2014         Toyota  ...       $29900  Wed Feb 18 2015 07:15:00 GMT-0800 (PST)
2    2012          Lexus  ...       $24200  Tue Jan 20 2015 01:30:00 GMT-0800 (PST)
3    2002            BMW  ...        $3200  Wed Mar 04 2015 07:10:00 GMT-0800 (PST)
4    2014           Ford  ...       $22100  Wed Feb 18 2015 06:45:00 GMT-0800 (PST)
..    ...            ...  ...          ...                                      ...
195  2013         Toyota  ...       $12500  Tue Jun 09 2015 05:30:00 GMT-0700 (PDT)
196  2013            BMW  ...       $23500  Tue Jun 02 2015 02:30:00 GMT-0700 (PDT)
197  2012  Mercedes-Benz  ...       $31000  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
198  2011            BMW  ...       $24250  Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
199  2011          Honda  ...       $14800  Fri Jan 16 2015 01:00:00 GMT-0800 (PST)

[200 rows x 16 columns]

## Data Inspection

Perform data inspection tasks here (recommended for data understanding).

In [44]:
df.groupby('body').count()

                    year  make  model  ...   mmr  sellingprice  saledate
body                                   ...
Access Cab            15    15     15  ...    15            15        15
Beetle Convertible     8     8      8  ...     8             8         8
CTS Coupe              8     8      8  ...     8             8         8
CTS Wagon              1     1      1  ...     1             1         1
CTS-V Coupe            2     2      2  ...     2             2         2
...                  ...   ...    ...  ...   ...           ...       ...
suv                 1994  1994   1994  ...  1994          1994      1994
tsx sport wagon        1     1      1  ...     1             1         1
van                   52    52     52  ...    52            52        52
wagon                219   219    219  ...   219           219       219
xtracab                1     1      1  ...     1             1         1

[71 rows x 15 columns]

## Data Pre-Processing & Cleaning

_Apply any data preprocessing and/or feature engineering below. Show/output the changes to the dataset._

In [45]:

df['transmission'] = df['transmission'].str.capitalize()
df['color'] = df['color'].str.capitalize()
df['interior'] = df['interior'].str.capitalize()
df['seller'] = df['seller'].str.capitalize()
df = df.rename(columns={'sellingprice': 'selling Price', 'mmr': 'Manheim Price','saledate':'sale Date','interior':'interior Color'})
df['Sale day']=df['sale Date'].str.slice(stop=3)
df['sale Date']=df['sale Date'].str.slice(start=3)
df['Sale date']=df['sale Date'].str.slice(stop=12)
df['sale Date']=df['sale Date'].str.slice(start=12)
df = df.rename(columns={'sale Date':'Sale time'})
df['Sale time']=df['Sale time'].str.slice(stop=13)
df['interior Color']=df['interior Color'].replace(to_replace ='—',value ='Unknown')
df['color']=df['color'].replace(to_replace ='—',value ='Unknown')
df['body']=df['body'].replace(to_replace =['Suv','suv'],value ='SUV')

df['make']=df['make'].replace(to_replace ='smart',value ='Smart')
df['body']=df['body'].str.strip()
df['body']=df['body'].replace(to_replace =['Access Cab', 'access cab','Cab Plus 4','Club Cab','Crew Cab','CrewMax Cab','Double Cab','Extended Cab','King Cab','Mega Cab','Quad Cab','Regular Cab','SuperCab','Xtracab','crew cab',
                        'crewmax cab','double cab','extended cab','king cab','mega cab','quad cab','regular cab','regular-cab','supercab','xtracab','supercrew','SuperCrew'], 
                            value ='Pickup Truck')

df['body']=df['body'].replace(to_replace =['G Sedan','Sedan','g sedan','sedan'], value = 'Sedan')



df['body']=df['body'].replace(to_replace =['Beetle Convertible','Convertible','G Convertible','G37 Convertible','GranTurismo Convertible','Q60 Convertible',
                                           'beetle convertible','convertible','g convertible','granturismo convertible',''], value = 'Convertible')

df['body']=df['body'].replace(to_replace =['CTS Coupe','CTS-V Coupe','Coupe','Elantra Coupe','G Coupe','Genesis Coupe','Koup','Q60 Coupe','coupe',
                                           'cts coupe','g coupe','genesis coupe'], value = 'Coupe')

df['body']=df['body'].replace(to_replace =['CTS Wagon','TSX Sport Wagon','tsx sport wagon','wagon'],value='Wagon')

df['body']=df['body'].replace(to_replace =['E-Series Van','Minivan','Promaster Cargo Van','Transit Van','Van','e-series van','minivan','promaster cargo van','van'],value='Mini-van')

df['body']=df['body'].replace(to_replace =['hatchback'],value ='Hatchback')

df.columns = df.columns.str.capitalize()

df

       Year      Make         Model  ...      Sale time Sale day     Sale date
0      2013   Hyundai        Sonata  ...   02:30:00 GMT      Tue   Jun 02 2015
1      2014    Toyota       4Runner  ...   07:15:00 GMT      Wed   Feb 18 2015
2      2012     Lexus        IS 250  ...   01:30:00 GMT      Tue   Jan 20 2015
3      2002       BMW            X5  ...   07:10:00 GMT      Wed   Mar 04 2015
4      2014      Ford  E-Series Van  ...   06:45:00 GMT      Wed   Feb 18 2015
...     ...       ...           ...  ...            ...      ...           ...
46573  2013      Ford          Edge  ...   09:30:00 GMT      Wed   Jan 07 2015
46574  2012  Infiniti       G Sedan  ...   05:30:00 GMT      Thu   Jun 18 2015
46575  2013       BMW      3 Series  ...   02:00:00 GMT      Wed   Feb 18 2015
46576  2013    Toyota         Camry  ...   04:30:00 GMT      Wed   Jan 14 2015
46577  2013       Kia           Rio  ...   10:00:00 GMT      Thu   Dec 18 2014

[46578 rows x 18 columns]

## Exploratory Data Analysis

**Q0 (example): What is the most popular car exterior color?**

**Visualization**

In [46]:
# Basic, minimal plot example
sns.countplot(x='color', data=df)

ValueError: ignored

In [ ]:
# Much better plot, with sorting in descending order, rotated x-axis labels for clarity, and a plot title
# Your visualizations should be neatly presented like the example below.
large_to_small = df.groupby('color').size().sort_values(ascending=False)
sns.countplot(x='color', data=df, order=large_to_small.index).set(title='Most popular colors sold on the used car auction market')
plt.xticks(rotation=90)
plt.tight_layout()

**Example note:** _you need to answer using a visualization (above) and a written/text answer (below)._

**Answer for Q0**: Black is the most popular exterior color of used cars sold in auctions, followed very closely by white.

**Q1: What are the most popular car brands? (mention at least 3)**

**Visualization**

**Answer for Q1**: Your answer here

**Q2: Do automatic cars, on average, sell for a higher price than manual cars?**

**Visualization**

**Answer for Q2**: Your answer here

**Q3: Draw a box plot showing the distribution of the selling prices of each car make. Which car makes have the widest distribution of selling price (name two)? Which are the most expensive (name two)?**

**Visualization**

**Answer for Q3**: Your answer here

**Q4: How correlated is the odometer reading or mileage with the car's sale price? (Hint: plot a line of best fit.)**

**Visualization**

**Answer for Q4**: Your answer here

**Q5: Likewise, how correlated is the car's condition with its sale price? (Hint: plot a line of best fit.)**

**Visualization**

**Answer for Q5**: Your answer here

**Q6: Are there differences in the average car price due to the car's body type? If so, rank their order and state the most expensive and least expensive car body type.**

**Visualization**

**Answer for Q6**: Your answer here

## Data Preparation for Modelling

_Apply any additional data preparation steps needed before modelling below. Show/output the changes to the dataset._

## Modelling

_Apply the linear regression model below._

## Model Evaluation & Validation

_Evaluate the model you applied and check if it meets the necessary assumptions for the chosen model._

## Conclusion and Recommendations

Comment on the model accuracy and your findings from model evaluation and validation. State the problems (if any) and suggest possible solutions. Would you recommend this model for a used cars dealership that wants to get reliable estimates for used car prices?

**Answer**: your answer here.